nav{
    display: inline;
}

p,ul{
    font-family:"Roboto", sans-serif;
    font-size: 1em;
    color: azure;
}
h1{
    text-decoration: underline;
    color: rgba(11, 14, 15, 0.8);
    background-image: url(img/AdobeStock_299097784.jpeg);
    background-size: cover;
    background-position: center;
    padding: 200px;
    font-size: 5em;
    text-align: center;
}

.liste{
    text-decoration: underline;
    font-weight: bold;
}

.titre{
color: rgb(14, 14, 226);
text-decoration: underline;
font-style: italic;
}

a:hover{
    color: aqua;
    text-decoration: underline;
}

body{
   background-color: black;
}

fieldset{
    color: blue;
}

.produits{
    text-decoration: underline;
    font-weight: bold;
}